*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
h1 {
   
    font-size: 3.5em;
    line-height: 1.5;
    font-weight: 700;
}

h3 {
    
    font-weight: 900;
    font-size: 1.4rem;
	color: #0a5c25;
}

h2 {
    
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 650;
}
nav{
	position:fixed;
	z-index:10;
	left:0; right:0; top:0; bottom:0; 
	font-family:'Josefin Sans', sans-serif;
	padding:0 5%;
	height:100px; 
	background-color:#99b2c4;
	transition: all 0.3s ease;
}
nav .logo{
	float:left;
	width:40%; 
	height:100%; 
	display:flex; 
	align-items:center;
	font-size:24px; 
	color:white;
}
nav .links{
	float:right; 
	margin:0; 
	padding:0; 
	width:60%; 
	height:100%; 
	display:flex;
	justify-content:space-around;
	align-items:center;
}
nav .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav .logo a{
	text-decoration: none;
    font-size:larger;

}
.shop{
    color: #15627b;
   
}
.ify{
    color: #232222

}
nav .links li{
	list-style:none;
}
nav .links a {
	
	display:block;
	padding:1em;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
nav .links a:hover{
	color:red;
	transition: 0.3s;
}
nav .links a:active{
	color:wheat;
	transform: scale(1.2,1.1);
	transition: 0.3s;
}
#nav-toggle{
	position: absolute;
	top: -100px;
}
nav .icon-burger{
	display: none;
	position: absolute;
	right:5%;
	top:50%;
	transform: translateY(-50%);
}
nav .icon-burger .line{
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
}
#title {
    background-color:#99b2c4;
    color: #fff;
}

.container-fluid{
    padding: 3% 12% 7% 15%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
#title .row{
	padding-top: 170px;
	padding-bottom: 100px;
}
#title .row button{
	margin-top: 40px;
	margin-bottom: 40px;
}
.title-image {
    width: 75%;
    /* right: 30%; */
}
.ti{
    padding-left: 20%;
}


/* about */
#about{
    padding: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family:'Josefin Sans', sans-serif;
    line-height: 2;
    letter-spacing: 1.5;
    font-size: 1em;
    
}
.ab2{
    padding-top: 50px;
}
.ab2 img{
    width: 50%;
    /* border-radius: 100%; */
    filter: brightness(100%);
    filter: contrast(100%);
}



/* product */
#product{
    padding-bottom: 30px;
}
#product h1{
    text-align: center;
   
}
.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
 margin: 25px;
}
.slide-img{
    height: 450px;
}
.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    /* position: relative; */
}
.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}
.type{
    display: flex;
    flex-direction: column;
}
.type a{
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.type span{
    color: rgba(26,26,26,0.5);
    font-weight: 500;
}
.price{
    color:#333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}
.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
     transform: translate(-50%,-50%); 
    width: 100%;
    height: 100%;
    background-color: rgba(92,95,236,0.6);
    opacity: 1;
    display: flex;
    justify-content: center;
}
.detail-box a{
    text-decoration: none;
}
.buy-btn{
    width: 160px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);

}
.buy-btn:hover{
    color: #ffffff;
    background-color: #f15fa3;
    transition: all ease 0.3s
}
.slider{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* contact */
.ContactMe {
    padding: 40px 15%;
    padding-top: 13%;
    /* background-color: #3d3a3a; */
    /* margin: 0; */
    /* box-sizing: border-box; */
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 6rem;
    font-family: 'Josefin Sans', sans-serif;
	background-color: aliceblue;
}

.CntcForm h1, #product h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.CntcForm p {
    color: #15627b;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.5rem;
    margin-bottom: 3.8rem;
    text-align: center;
	font-family:'Josefin Sans', sans-serif;
	
}

.CntcForm form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
	

}

.CntcForm form input,
form textarea {
    width: 55%;
    padding: 17px;
    border: 0.5px solid gray;
    outline: none;
    background: #fff;
    /* color: #fff; */
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.message {
    resize: none;
    height: 200px;
}

.CntcForm form .btn {

    display: inline-block;
    background: #15627b;
	color: #fff;
    font-size: 1.03rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 20%;
    transition: ease .20s;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.CntcForm form .btn:hover {
    background: #232222;
    /* background: transparent; */
    transform: scale(1.03);
}



/* footer */
.footer {
    margin-bottom: 0;
    background: #99b2c4;
    font-weight: 450;
    color: #fff;
    text-align: center;
	margin-bottom: 0;
    font-size: 16px;
    padding-bottom: 30px;
    padding-top: 30px;
}







/* responsive */
@media (min-width:1250px){
    #about{
        font-size: 1.2em;
    }
}
@media (min-width:990px){
    
    .ab1{
        padding-right: 6%;
        padding-left: 8%;
    }
    .ab2{
        display: flex;
        padding-top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ab2 img{
        /* width: 50%; */
        width: 70%;
    }
}


@media (max-width:1250px){
    .ti{
        padding-top: 50px;
    }
}
@media (max-width:1100px){
    .ti{
        padding-top: 90px;
    }
}
@media (max-width:990px) {
    #title, #about {
        text-align: center;
        
    }
    #title h1{
        font-size: 2.5em;
        line-height: 1.5;
        font-weight: 700;
    }
    .ti{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 20%;
      
    }
}




@media (max-width:760px) {

	nav .logo{
		float: none;
		width: auto;
		/* justify-content: center; */
	}
nav .links{
		float: none;
		position: fixed;
		z-index: 9;
		left: 0; right: 0; top: 100px; bottom: 100%;
		width: auto; height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0, 0, 0, 0.8);
		overflow: hidden;
		transition: all 0.5s ease-in-out;
	}
nav .links a{
		font-size: 20px;
	}

nav .icon-burger{
		display: block;
	}
    .ProBox{
        width: 100%; height: auto;
    }
    .ProBoxImg img{
        width: 100%; height: auto;
    }
    .ProBox .BoxCaption li{
        width: 85%; height: auto;
    }

}
nav :checked ~ .links{
	bottom: 0;
}
nav :checked ~ .icon-burger .line:nth-child(1){
	transform: translate(10px); rotate:(225deg);
}
nav :checked ~ .icon-burger .line:nth-child(3){
	transform: translate(-10px); rotate:(-225deg)
}
nav :checked ~ .icon-burger .line:nth-child(2){
	opacity: 0;
}


@media (max-width:760px) {

    .CntcForm form input,
    form textarea {
        width: 100%;
    }

    .CntcForm form .btn {
        width: 50%;
    }
}

@media (max-width:1570px) {

    .ContactMe {
        display: block;
    }

}

@media (max-width:300px) {
    nav .logo{
        float:left;
        align-items:center;
        font-size:24px; 
        color:white;
    }
    #title h1{
        font-size: 2em;
        line-height: 1;
        font-weight: 400;
    }
    .ab1{
        padding-left: 10px;
        padding-right: 10px;
    }
    .ab2 img{
        width: 70%;
    }
}

@media (max-width:350px){
    .box{
        width: 250px; 
    }
    .ProBoxImg img{
        width: 50%; 
    }
}
